/* 
  공통 영영 
*/
/* 제목에 사용할 블릿 */
.bullet_list li:after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #3c4147;
  position: absolute;
  left: 0;
  top: 8px;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* 버튼 */
.commbtn {
  width: 150px;
  height: 35px;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  line-height: 35px;
  border-radius: 5px;
  text-align: center;
}
.commbtn.pink {
  background: #f92d68;
  color: #fff;
}
.commbtn.gray {
  background: #3c4147;
  color: #fff;
}

/* 화면 전체를 감싸는 wrap */
#wrap {
  /* width: 100%; */
  height: 100%;
  padding-right: 180px; /* 오른쪽 위치한 헤더 영역만큼 내부 여백을 둔다 */

}

/* SEO 때문에 화면에는 표기하지 않지만 전체 페이지에 대한 제목을 부여 */
#wrap h1 {
  font-size: 0;
}



/* 
  HEADER 영역 
*/
header {
  background-image: url(./images/bg.jpg);
  width: 180px;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
}

header .logo_box {
  position: absolute;
  right: 35px;
  top: 75px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

header .logo_box img {
  width: 100px;
  height: 100px;
  object-fit: fill;
}

header nav {
  width: 100%;
  height: 100%;
}
header nav ul {
  width: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header nav ul li {
  margin: 0 0 10px 30px;
  position: relative;
  padding-left: 15px;
}
header nav ul li a {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
}
header nav ul li:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0px;
  top: 13px;
}
header nav ul li:hover a {
  color: #ed3140;
}
header nav ul li:hover:after {
  background: #ed3140;
}

/* 
  메뉴에 해당하는 컨텐츠가 활성화 되었을 때 
  그 메뉴는 계속 선택된 상태처럼 보여야 한다
  그 상태 헨들링을 on 클래스로 한다 
*/
header nav ul li.on a {
  color: #ed3140;
}
header nav ul li.on:after {
  background: #ed3140;
}



/* 
  컨텐츠 영역 
*/
#container {
  background-color: aquamarine;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 1200px;
  margin: 0 auto; /* 가운데 정렬 */
  transition: .8s; /* 메뉴 클릭 시 화면 전체 100%로 될 때 툭 하고 바뀌는 것을 자연스럽게 하기 위해 넣었음 */
}
/* .content에 애니메이션 효과 부여 */
#container .content {
  width: 25%;
  height: 100%;
  position: absolute;
  /* transition: .5s; */
  top: -100%;
  transition: .8s;
}
#container .content:nth-of-type(2) {
  transition-delay: .3s;
}
#container .content:nth-of-type(3) {
  transition-delay: .6s;
}
#container .content:nth-of-type(4) {
  transition-delay: .9s;
}
/* 처음에는 4분할된 영역이 보이지 않게 */
#container.start .content{
  top: 0;
}


/* 
  개별 페이지 영역 내부 
*/
.pargrph_tit{
  margin-bottom: 50px;
  font-size: 24px;
  color: #fff;
  position: relative;
}
.pargrph_tit:after{
  content: "";
  display: block;
  width: 30px;
  height: 8px;
  background: #ed3140;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.text_box {
  position: relative;
}
.text_box h4 {
  font-size: 40px;
  color: #d6d4d4;
  font-weight: 700;
  margin-bottom: 5px;
}
.text_box p {
  margin-bottom: 50px;
  color: #ababab;
  line-height: 25px;
}
.text_box:nth-child(odd) {
  text-align: left;
}
.text_box:nth-child(even) {
  text-align: right;
}
/* 글과 함깨 보여줄 이미지 */
.text_box:nth-child(1):after {
  content: "";
  display: block;
  width: 206px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: url(images/dhpublogo.png) no-repeat right top;
  background-size: auto;
}
.text_box:nth-child(1) p {
  /* width: 100%; */
  padding-right: 206px; /*이미지 만큼 내부 여백으로 밀어내서 텍스트랑 그림이랑 안겹치게 하기 */
}
.text_box:nth-last-child(1) {

}
.text_box:nth-last-child(1):before {
  content: "";
  display: block;
  width: 150px;
  height: 250px;
  position: absolute;
  left: 0;
  top: 70px;
  background: url(images/dhpublogo.png) no-repeat right top;
  background-size: 150px;
}
.text_box:nth-last-child(1):after {
  content: "";
  display: block;
  width: 150px;
  height: 250px;
  position: absolute;
  right: 0;
  top: -20px;
  background: url(images/dhpublogo.png) no-repeat right top;
  background-size: 150px;
}
.text_box:nth-last-child(1) p {
  padding: 0 200px;
}
.text_box:nth-last-child(1) h4 {
  color: #ed3140;
}

/* 메뉴 선택 시 현재 화면 this */
#container .content.this {
  width: 100%;
  left: 0 !important;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
/* 선택한 화면에 대해서 가상 요소들(텍스트, 이미지, 왼쪽 선)가 안보이게 처리 */
/* 다중 선택자로 prev, next 도 한세트 씩 추가해준다 */
#container .content.this:before, 
#container .content.this:after, 
#container .content.this .conbox:before, 
#container .content.prev:before, 
#container .content.prev:after, 
#container .content.prev .conbox:before, 
#container .content.next:before, 
#container .content.next:after, 
#container .content.next .conbox:before { 
  opacity: 0;
  transition: .6s;
  transition-delay: .3s;
}
#container .content.this .conbox:before {
  transform: translate3d(300px, 0, 0);
}
#container .content.this:after {
  transform: translate3d(-300px, 0, 0);
}

/* 선택 이전 화면 prev */
#container .content.prev {
  width: 100%;
  left: -100% !important; /* 왼쪽으로 밀어낸다 */
}
/* 선택 다음 화면 next */
#container .content.next {
  width: 100%;
  left: 100% !important;
}

/* 디자인적인 요소의 경우 html에 불필요하게 늘리지 말고 CSS 가상 요소 선택자로 처리 가능한 부분은 처리할 것 */
#container .content:before,
#container .content:after {
  content: "";
  display: block;
  position: absolute;
}

/* 가상 요소 선택자로 구분선 만들기 */
#container .content:before {
  width: 1px;
  height: 100%;
  background: #000;
  left: 0;
  top: 0;
}

/* 가상 요소로 각 menu의 id를 이용해서 개별 텍스트 넣기 
공통 영역에 대한 스타일은 class 이용, 개별 텍스트는 id 이용*/
#container .content:after {
  left: 30px;
  top: 180px;
  font-size: 25px;
  font-weight: 700;
  color: #ed3140;
}
#container #menu1:after {
  content: "회사소개";
}
#container #menu2:after {
  content: "도서소개";
}
#container #menu3:after {
  content: "FAQ";
}
#container #menu4:after {
  content: "Contact us";
}

#container .content h2 {
  opacity: 0;
  transition: .5s;
}
#container .content.this h2 {
  height: auto;
  padding: 30px 0 20px 50px;
  color: #000;
  position: relative;
  background: #fff;
  font-size: 28px;
  font-weight: 400;
  opacity: 1;  /* 투명하게 하여 안보이게 했던 요소를 보이게 한다 */
  transition: .6s;
  transition-delay: 1.2s; /* 페이지가 전부 펼쳐지고 나서 상단 제목이 내려 올 수 있도록 딜레이를 다른 contents 딜레이 시간 이상으로 걸었다*/
}
#container .content.this h2:after {
  content: "";
  width: 100%;
  height: 8px;
  background: #ed3140;
  position: absolute;
  left: 0;
  bottom: 0;
}
#container .content.this .conbox{
  max-width: 1100px;
  margin: 0 auto;
}
#container .content .conbox .content_wrap {
  opacity: 0;
}

#container .content.this .conbox .content_wrap {
  padding: 30px 50px 50px;
  opacity: 1;
  transition: 1.7s;
  transition-delay: .8s;
}

/* 각 메뉴에 보여줄 이미지들 가상 요소 선택자로 생성 */
#container .content .conbox:before {
  content: "";
  display: block;
  position: absolute;
}
/* 
  23.10.22
  추후 배경 이미지랑 이미지 크기 재조정하기
  이미지 확정하면 right, top 으로 위치 재조정 필요
*/
#container #menu1 .content .conbox:before {
  /* 배경 이미지 넣기 */
  background-image: url();
  background-size: 100%; /* 가상 요소 크기와 동일한 크기 전체를 활용 */
  /* 나중에 크기 사용하는 이미지에 적합하게 변경 */
  width: 300px;
  height: 300px;
  right: 15px;
  top: 15px;
}

/* 
  23.10.22
  추후 배경 이미지 넣기
*/
#container #menu1 {
  /* 백그라운드 배경이미지 대신 임시로 색상 넣음 나중에 반복 패턴의 배경 이미지 넣기 */
  background-color: #000; 
  left: 0%;
}
#container #menu2 {
  /* 백그라운드 배경이미지 대신 임시로 색상 넣음 */
  background-color: midnightblue;
  left: 25%;
}
#container #menu3 {
  /* 백그라운드 배경이미지 대신 임시로 색상 넣음 */
  background-color: darkblue;
  left: 50%;
}
#container #menu4 {
  /* 백그라운드 배경이미지 대신 임시로 색상 넣음 */
  background-color: #7e7e7e;
  left: 75%;
}


/* 
  두번째 메뉴 
*/
#menu2.content h3 {
  font-size: 0;
}
#menu2.content.this .conbox {
  background: url(images/desk.avif) no-repeat;
  max-width: 100%;
  background-size: 100%;
}
.notebook {
  width: 954px;
  height: 650px;
  margin: 100px auto 0;
  background: url(images/notebook1.jpg) no-repeat;
  background-size: 954px;
  position: relative;
  transform-style: preserve-3d;
  transform: matrix3d(1,0,0, 0,0,0.1, 0,0,0, 0,1,0, 0,0,0, 1);
  transition: ease-in-out 1s;
  transition-delay: .8s;
  opacity: 0;
}
#menu2.this .notebook{
  transform: matrix3d(1,0,0, 0,0,1, 0,0,0, 0,1,0, 0,0,0, 1);
  opacity: 1;
}
.detail_content {
  width: 719px;
  height: 453px;
  position: absolute;
  left: 117px;
  top: 38px;
  padding: 30px 0;
}
.img_book {
  width: 200px;
  float: left;
}
.img_book img {
  width: 200px;
}
.book_description {
  width: 449px;
  float: left;
  padding: 20px 20px 40px;
}
/* 모니터에 그림 띄우기 위해 사용한 float 해제용 */
.detail_content:after {
  content: "";
  display: block;
  clear: both;
}
.book_description h4 {
  font-size: 31px;
  font-weight: 700;
  color: #f92d68;
  line-height: 31px;
}
.book_description ul li em {
  font-weight: 700;
}
.point_text {
  padding: 10px 30px 0 0;
  font-size: 12px;
  color: #666;
}
.point_text strong {
  display: block;
  padding: 0 0 10px 46px;
  background: url(/images/twit.png) no-repeat;
  background-size: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #3c4147;
}

/* roll 영역 */
.book_rollwrap {
  width: 954px;
  height: 150px;
  margin: 40px auto 0;
  padding: 0 20px;
  position: relative;
}
.book_rollwrap > button {
  display: block;
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
}
.book_rollwrap > button.roll_left {
  background: url(images/dhpublogo.png) no-repeat center;
  background-size: 20px;
  left: 0; 
}
.book_rollwrap > button.roll_right {
  background: url(images/dhpublogo.png) no-repeat center;
  background-size: 20px;
  right: 0; 
}
.book_rollwrap .book_roll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.book_rollwrap .book_roll ul {
  width: 1000%;
}
.book_rollwrap .book_roll ul li {
  float: left;
  width: 152px;
  text-align: center;
}
.book_rollwrap .book_roll ul li img {
  width: 100px;
}


.bullet_list {
  margin-top: 20px;
}
.bullet_list li {
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: 12px;
  color: #3c4147;
  position: relative;
}
.bullet_list li:after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #3c4147;
  position: absolute;
  left: 0;
  top: 8px;
}


/* 
  FAQ
*/
.tit_faq {
  color: #fff;
  position: relative;
}
.tit_faq strong {
  font-size: 25px;
  padding-right: 10px;
}
.tit_faq span {
  font-size: 14px;
  font-weight: 400;
}
.tit_faq:before {
  content: "";
  display: block;
  position: absolute;
  width: 120px;
  height: 150px;
  background: url(images/dhpublogo.png) no-repeat;
  right: 0;
  top: 36px;
}
.acordio_box{
  margin-top: 170px;
}
.acordio_box ol li {
  width: 100%;
  background: #fff;
  border-top: 4px solid #ea657b;
}
.acordio_box ol li h4 {
  display: block;
  padding: 0 20px 20px 0;
  margin: 20px 20px 0 30px;
  cursor: pointer;
  background: url(images/facebook.png) no-repeat right 11px;
  font-weight: 400;
  color: #3c4147;
}
.acordio_box ol li.on h4 {
  background: url(images/instar.png) no-repeat right 11px;
}
.acordio_box ol li h4 span {
  display: inline-block;
  margin-right: 10px;
  font-weight: 900;
}
.acordio_box ol li p {
  height: 0;
  visibility: hidden;
  opacity: 0;
}
.acordio_box ol li.on p {
  height: auto;
  padding: 30px 100px 70px;
  background-color: #eee;
  background-size: 100px auto;
  background-repeat: no-repeat;
  visibility: visible;
  opacity: 1;
}
.acordio_box ol li:nth-of-type(1) p {
  background-image: url(images/desk.avif);
  background-position: 40px -1px;
}
.acordio_box ol li:nth-of-type(2) p {
  background-image: url(images/desk.avif);
  background-position: 40px 20px;
}
.acordio_box ol li:nth-of-type(3) p {
  background-image: url(images/desk.avif);
  background-position: 40px 13px;
}
.acordio_box ol li:nth-of-type(4) p {
  background-image: url(images/desk.avif);
  background-position: 40px 13px;
}


/* 
  Contact Us
*/
#menu4 .content_wrap {
  width: 800px;
  margin: 100px auto 0;
  padding: 30px;
  background: rgba(255, 255, 255, .7);
  border-radius: 5px;
}
#menu4 .content_wrap .form_tit{
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
}
.formlist {
  padding-bottom: 150px;
  background: url(images/desk.avif) no-repeat right bottom;
  background-size: 200px;

}
.formlist ul li {
  margin-bottom: 15px;
  position: relative;
  padding: 0 0 0 150px;
}
.formlist ul li label {
  display: block;
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  color: #555;
}
.formlist ul li label sub {
  color: #ea657b;
}
.formlist ul li span {
  display: block;
}
.formlist ul li .inputbox {
  width: 100%;
  height: 40px;
  border: solid 1px #ddd;
  background: #fff;
}
.formlist ul li .textbox {
  width: 100%;
  height: 200px;
  border: solid 1px #ddd;
  background: #fff;
}
.formlist ul li input,
.formlist ul li textarea {
  width: 100%;
  height: 100%;
}
.btn_box {
  width:100%;
  margin-top: 20px;
  text-align: center;
}


/* 
  FOOTER 영역 
*/
footer {
  width: 180px;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0px 20px 30px 20px;
  font-size: 11px;
  color: #7e7e7e;
  z-index: 12;
}
footer address {
  padding: 0px 0px 15px;
}
/* SNS */
footer a {
  position: absolute;
  top: -31px;
  display: block;
  width: 16px;
  height: 16px;
}
/* 
  23.10.22
  추후 배경 이미지 넣기
*/
/* 현재 이미지가 안보여서 임지고 텍스트로 대체해두었음 */
footer > a.face {
  background: url(./images/facebook.png);
  right: 18px;
}
footer > a.twit {
  background: url(./images/twit.png);
  right: 48px;
}
footer > a.instar {
  background-image: url(./images/instar.png);
  right: 80px;
}
/* 
  23.10.22
  추후 호버할 때 이미지 호버 스타일 적용할지 생각
*/
/* SNS hover 영역 */

/* 
  23.10.22
  추후 삭제할 것
*/
/* test 용 */
div.face {
  background-image: url("./images/facebook.png");
  background-color: red;
  position: absolute;
  top: 31px;
  display: block;
  width: 16px;
  height: 16px;
}
